*.db

*.sublime-*

latex/*.log
latex/*.aux
latex/*.out
latex/*.bbl
latex/*.glsdefs
latex/*.run.xml
latex/*.synctex.gz
latex/*.toc
latex/*.bib.bak
latex/*.blg
latex/*.1
latex/*.2
latex/*.3
latex/*.4
latex/*.5
latex/*.mp
latex/*.t1
latex/*.t2
latex/*.t3

# Remove this on final version
latex/*.pdf

dpg/
experiments/
papers/
scanner_an/
talks/
tmp/